In [1]:
from modules.build_substring import NERDString

In [33]:
s = '''
    Create a search for the scientist Ryan Willett who attended Columbia University in New York City in the United States after 2003-02-11
'''

In [34]:
ns = NERDString(s)

In [35]:
ns.doc

    Create a search for the scientist Ryan Willett who attended Columbia University in New York City in the United States after 2003-02-11

In [36]:
ns.entities

                  name  entity
0         Ryan Willett  PERSON
1  Columbia University     ORG
2        New York City     GPE
3    the United States     GPE
4           2003-02-11    DATE

In [5]:
ns.data

{'persons': ['Ryan Willett'],
 'orgs': ['Columbia University'],
 'min_date': '2003-02-11',
 'max_date': '2012-01-01',
 'urls': ['www.brandeis.edu']}

In [6]:
ns.text

'Create a search for the scientist Ryan Willett who attended Columbia University after 2003-02-11 and before 2012 on www.brandeis.edu'

In [14]:
urls = 'Ryan Willett Columbia University ryan.willett@gmail.com www.google.com  www.columbia.edu  rtwillett.github.io testing.'.lower()

In [15]:
# with open('./data/ip_domains.txt', mode='r') as f: 
#     data_raw = f.read()
#     data = data_raw.split('\n')

In [16]:
# [d.lower() for d in data if '#' not in d]

In [19]:
import re
url_pat = [i for i in urls.split() if ('.' in i) and ('@' not in i) and (not re.search('\.$', i))]

# [i for i in re.findall('[a-z0-9-_.]{1,}', url_pat) if re.search('[.]', i)]
url_pat

['www.google.com', 'www.columbia.edu', 'rtwillett.github.io']

In [12]:
ns.ner_extracts

{}

In [ ]:
ns.ner_extracts['PERSON']